# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories

RewriteCond %{REQUEST_FILENAME} !-d

# check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# page with .html extension is shown

RewriteRule ^(.*)$ $1.html [NC,L]