/*
    for photography portfolio page
*/

/*
    google font api call:
    font-family: 'Poppins', sans-serif;
*/

/*
    sidebar / sidepanel for navigation
 */

/* sidebar menu */
.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 3.75em;
    transition: 0.5s;
    border-width: 1px;
    border-right-style: solid;
    border-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple, magenta) 1 repeat;
}

/* sidebar links */
.sidebar .links {
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 1vh 1vh;
    width: auto;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 2em;
    color: black;
    text-align: center;
    display: block;
    transition: 0.4s;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple, magenta) 1 repeat;
}

/* sidebar link hover properties */
.sidebar a:hover {
    color: gray;
    letter-spacing: 0.3125em;
}

/* x to close sidebar */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 3vw;
    font-size: 7.5em;
    text-decoration: none;
    color: black
}

/* hamburger to open sidebar */
.openbtn {
    font-size: 5.5em;
    cursor: pointer;
    color: black;
    border: none;
    margin: 0 0 0 2vw;
    padding: 0;
}

/* "nick debakey" home link next to hamburger */
.home a {
    /* positioning */
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    margin-left: 1vw;

    /* font properties */
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3125em;
    font-size: 3em;
    text-decoration: none;
    text-transform: lowercase;
}

.navContainer {
    display: flex;
    justify-content: left;
    width: 100%;
}

/* rest of the page / not nav bar + sidebar */
main {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    z-index: -1;
}

p {
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
}

.title {
    display: inline-flex;
    margin-bottom: -10px;
}

.title p {
    font-size: 5vw;
    margin: 0 0 15px 0;
    padding: 0;
}

.divider {
    padding: 1px 5px;
    width: 100%;
    margin: 1vw auto;
    background: linear-gradient(135deg, red, orange, yellow, green, blue, purple, magenta);
    background-size: 200% auto;
    animation: rainbow 8s linear infinite;
}

@keyframes rainbow {
    to {
        background-position: 200% center;
    }
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.column1 {
    background-color: #f1f1f1;
    display: block;
    text-align: center;
    margin: 1em;
    max-width: 30em;
}

#profPicContainer {
    border: 1px solid black;
    margin: 1em;
    background-color: white;
}

#profPic {
    width: 12.5em;
    padding: 1em;
}

.columnDivider {
    height: 1em;
    width: 100%;
    background-color: white;
}

#basicsContainer {
    background-color: #dddddd;
    border: 1px solid black;
    margin: 1em;
}

#basicsTitle {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.basicsInfo {
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0 0.5em 0 0;
    text-align: right;
    font-size: 1em;
}

.basicsInfo em {
    float: left;
    padding-left: 0.5em;
}

#socialBgColor {
    background-color: #dddddd;
    margin: 1em;
    border: 1px solid black;
}

#socialBgColor p {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

#socialIcons {
    display: inline-block;
    justify-content: space-evenly;
    margin-top: 0.5em;
}

#socialIcons img {
    width: 5em;
    margin: 0.25em;
    padding: 0.25em;
}

#languages {
    display: inline-flex;
    justify-content: center;
}

#languages img, #software img {
    width: 5em;
}

#software {
    display: inline-block;
    justify-content: center;
}

#softwareTitle {
    border-bottom: 1px solid #cccccc;
}

#adobeTitle {
    margin-left: 1em;
}

#microsoftTitle {
    margin-left: 1em;
}

.adobe, .microsoft {
    text-align: left;
}

#adobeSoftware, #microsoftSoftware {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#adobeSoftware {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1em;
}

#OSPref p {
    text-transform: none;
    margin: 0;
    padding: 0;
}

.column2 {
    margin: 1em;
    background-color: #f1f1f1;
    display: flex;
    flex-flow: column;
    text-align: center;
    max-width: 30em;
    height: fit-content;
    overflow: hidden;
}

#aboutContainer, #aboutWebContainer, #languagesContainer,
#softwareContainer, #OSprefContainer {
    background-color: #dddddd;
    margin: 1em;
    border: 1px solid black;
}

#aboutMe, #aboutWebsite, #languages,
#software, #OSPref {
    width: 100%;
}

#aboutMeTitle, #aboutWebsiteTitle, #languagesTitle,
#softwareTitle, #OSPrefTitle {
    margin: 0;
    padding: 0;
}

.bio {
    margin: 1em;
    font-size: 1em;
    text-align: left;
}

.aboutMeDivider {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}