/*
    for index page
*/

/*
    google font api call:
    font-family: 'Poppins', sans-serif;
*/

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

p {
    font-family: 'Poppins', sans-serif;
}

section {
    display: inline-flex;
}

.title {
    font-size: 5vw;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.smlCaps {
    font-variant: small-caps;
    font-size: 5vw;
    padding: 0;
    margin: 0;
}

#nick {
    padding-right: 1vw;
    margin-right: 1vw;
}

.divider {
    padding: 1px 5px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, red, orange, yellow, green, blue, violet);
    background-size: 200% auto;
    animation: rainbow 8s linear infinite;
}

@keyframes rainbow {
    to {
        background-position: 200% center;
    }
}

.links {
    font-weight: 200;
}

.links a {
    font-size: 1.5vw;
    color: black;
    -webkit-transition: all 0.5s ease;
    text-transform: uppercase;
}

.links a:hover {
    font-size: 2vw;
    color: gray;
    -webkit-transition: all 0.5s ease;
}