/*
    for index page
*/

/*
    google font api call:
    font-family: 'Poppins', sans-serif;
*/

main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    p {
        font-family: 'Poppins', sans-serif;
    }

    .title {
        display: inline-flex;
        margin-bottom: -1vh;
    }

    .title p {
        font-size: 10vw;
        margin: 0 0 1vh 0;
        padding: 0;
        text-transform: lowercase;
    }

    .divider {
        padding: 0.0625em 0.3125em;
        width: 100%;
        margin: 5px auto;
        background: linear-gradient(135deg, red, orange, yellow, green, blue, purple, magenta);
        background-size: 200% auto;
        animation: rainbow 8s linear infinite;
    }

    @keyframes rainbow {
        to {
            background-position: 200% center;
        }
    }

    .links {
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
        margin-top: 0.625em;
    }

    .links a {
        font-size: 3vw;
        color: black;
        text-transform: lowercase;
        display: inline-flex;
        padding: 0.3125em 3.125em;
        margin: 0.3125em 0;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple, magenta) 1 repeat;
        -webkit-transition: all 0.5s ease;
        letter-spacing: normal;
    }

    .links a:link {
        text-decoration: none;
    }

    .links a:visited {
        text-decoration: none;
    }

    .links a:hover {
        letter-spacing: 0.125em;
    }