/*
    for photography portfolio page
*/

/*
    google font api call:
    font-family: 'Poppins', sans-serif;
*/

/*
    sidebar / sidepanel for navigation
 */

/* sidebar menu */
.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 3.75em;
    transition: 0.5s;
    border-width: 1px;
    border-right-style: solid;
    border-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple, magenta) 1 repeat;
}

/* sidebar links */
.sidebar .links {
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 1vh 1vh;
    width: auto;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 2em;
    color: black;
    text-align: center;
    display: block;
    transition: 0.4s;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple, magenta) 1 repeat;
}

/* sidebar link hover properties */
.sidebar a:hover {
    color: gray;
    letter-spacing: 0.3125em;
}

/* x to close sidebar */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 3vw;
    font-size: 7.5em;
    text-decoration: none;
    color: black
}

/* hamburger to open sidebar */
.openbtn {
    font-size: 5.5em;
    cursor: pointer;
    color: black;
    border: none;
    margin: 0 0 0 2vw;
    padding: 0;
}

button {
    background-color: transparent;
}

/* "nick debakey" home link next to hamburger */
.home a {
    /* positioning */
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    margin-left: 1vw;

    /* font properties */
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3125em;
    font-size: 3em;
    text-decoration: none;
    text-transform: lowercase;
}

.navContainer {
    display: flex;
    justify-content: left;
    width: 100%;
}

/* rest of the page / not nav bar + sidebar */
main {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    z-index: -1;
}

p {
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
}

.title {
    display: inline-flex;
    margin-bottom: -10px;
}

.title p {
    font-size: 5vw;
    margin: 0 0 15px 0;
    padding: 0;
}

.divider {
    padding: 1px 5px;
    width: 100%;
    margin: 1vw auto;
    background: linear-gradient(135deg, red, orange, yellow, green, blue, purple, magenta);
    background-size: 200% auto;
    animation: rainbow 8s linear infinite;
}

@keyframes rainbow {
    to {
        background-position: 200% center;
    }
}

/* tab */
.tab {
    margin-top: 2em;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.tab button {
    width: 100%;
    height: auto;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: auto;
    transition: 0.3s;
    border: none;

    /* text styling */
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    font-size: 2.5em;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    width: 100%;
    display: none;
    margin-top: 4em;
}

#mpphotography {
    display: block;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

#mpphotography a {
    text-decoration: none;
    color: gray;
}

#mpphotography a:visited {
    text-decoration: none;
    color: gray;
}

#mpphotography a:hover {
    color: black;
    letter-spacing: 0.3125em;
}

.maddieTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-transform: lowercase;
    margin: 2em;
    transition: 0.4s;
}

video {
    padding: 1em;
    border: 1px solid black;
}

.maddieDesc {
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    padding: 0 3.125em;
}

#Group33_IC07, #Group33_IC11, #Group33_IC06 {
    display: block;
    width: 100%;
    text-align: center;
}

#AndroidApps img {
    width: 15.625em;
}

#AndroidApps a {
    text-decoration: none;
    color: gray;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}

#AndroidApps a:visited {
    text-decoration: none;
    color: gray;
}

#AndroidApps a:hover {
    color: black;
    letter-spacing: 0.3125em;
}

.androidContainer {
    display: flex;
    justify-content: space-evenly;
}

.androidDesc {
    padding: 1em;
}
